body{
    background: linear-gradient(to top left, #ccffff 0%, #666699 100%);
}
.title
{
    width:80%;
    margin:auto;
    text-align: center;
    padding: 0px 50px 0px 50px;
    font-family: 'Courier New', monospace ;
    font-size: xxx-large;
    color: #ffffff;
}
.subtitle{
    text-align: center;
    color: #ffffff;
}
.tri-section{
    width: 80%;  
    margin: auto;
    background: linear-gradient(to bottom right, #ccffff 0%, #9966ff 100%);
    padding: 50px;
    font-family: Garamond, serif;
    
}
.top-div{
    width: 100%;
    display: inline-grid;
    grid-template-columns: 50% 50%;
}
.img
{
    width: 100%;
    display: block;
    height: 100%;
    /* padding: 5px; */
    /* margin-left: auto; */
    /* margin-right: auto; */
}
.info-block{
    width: 100%;
    margin: 0px 20px;
    background-color: rgb(195, 165, 233);
    border-radius: 25px;
}

ul > li{
    font-size: 20px;
    padding: 10px;
}
hr{
    margin: 20px;
}
.end{
    width:80%;
    margin:auto;
    text-align: center;
    padding: 0px 50px 0px 50px;
    font-size: x-large;
    font-style: italic;
}


